@import "../../assets/styles/constants.scss"; 

.header {
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $app-padding-horizontal;
  background-image: $header-bg-gradient;
}
.header__nav {
  height: 100%;
  display: flex;
}
.header__logo {
  height: 45px;
  width: auto;
}

.header__link {
  font-size: 18px;
  height: 100%;
  align-items: center;
  display: flex;
  padding: 0 25px;
  color: white;
  position: relative;
  transition: all 0.2s ease-in;
  transition-property: opacity, background-color;
  &:hover, &.active {
    background-color: rgba(rgb(30, 107, 158), 0.3);
  }
}