body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

input,
select,
button,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
$button-color: #007bff;
button {
  min-width: 120px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.75rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 1px solid $button-color;
  background-color: transparent;
  color: $button-color;
  border-radius: 0.9rem;
  transition: all 0.2s ease-in;
  transition-property: box-shadow, background-color, color;
}
button:not(:disabled):hover {
  color: white;
  background-color: $button-color;
}
button:active {
  box-shadow: -2px -2px 5px rgba($button-color, 0.3),
    -2px 2px 5px rgba($button-color, 0.3), 2px -2px 5px rgba($button-color, 0.3),
    2px 2px 5px rgba($button-color, 0.3);
}

button.small {
  padding: 0.2rem 0.3rem;
  font-size: 0.75rem;
  min-width: 0;
  min-height: 0;
  border-radius: 0.4rem;
}
button:disabled {
  cursor: not-allowed;
}
